body {
  /* background-color: #333; */
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

#mobile {
  display: none;
}

/* Code for the hidden nav bar */
/* Hidden Navbar */

#navbar #myLinks {
  display: none;
}

#navbar {
  background-color: #333;
  border-bottom-style: solid;
  border-bottom-color: red;
  position: fixed;
  width: 100%;
  display: grid;
  list-style-type: none;
  transition: top 0.3s;
  text-align: center;
  padding: 29px;
}

#navbar a {
  text-decoration: none;
  font-size: 23px;
  color: white;
  padding: 14px 16px;
  display: block;
}

#navbar a.icon {
  background: #333;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

#navbar a:hover {
  background-color: #333;
  color: red;
}

.link5 {
  grid-column: 1/2;
}

.link6 {
  grid-column: 2/3;
}

.link7 {
  grid-column: 3/4;
}

.link8 {
  grid-column: 4/5;
}

/* Position the navbar container on top of the image */
/* The navbar */
#topnav {
  display: grid;
  list-style-type: none;
  overflow: hidden;
  padding: 50px;
}

/* Navbar links */
#topnav a {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5px 10px;
  border-radius: 5px;
  color: #f2f2f2;
  text-decoration: none;
  font-size: 25px;
}

#topnav a:hover {
  /* background-color: white; */
  border-style: solid;
  border-color: white;
  padding: 5px 10px;
  color: red;
}

.link1 {
  grid-column: 1/2;
}

.link2 {
  grid-column: 2/3;
}

.link3 {
  grid-column: 3/4;
}

.link4 {
  grid-column: 4/5;
}

/* Header Tag code, contains the background image and title*/
.jumbotron_container {
  background-image: url("../assets/homeimg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
  color: black;
  height: 100vh;
}

.flex-container {
  height: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center_text {
  font-size: 85px;
  font-family: 'Permanent Marker', cursive;
}

.white {
  color: white;
}

/* About Section code, contains background color, text, and images */
.about_container {
  /* background-color: #333; */
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.mobile-padding {
  margin: auto;
}

.information {
  grid-column: 2;
  margin: auto;
  border-left: 5px solid white;
  padding: 1em;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  background-color: white;
  max-width: 300px;
  margin: auto;
  text-align: center;
  grid-column: 1;
  padding: 1em;
}

.title {
  color: grey;
  font-size: 18px;
}

.about_btn {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.about_btn:hover,
a:hover {
  background-color: red;
  color: white;
}

.about_text {
  padding-right: 50px;
  font-size: 25px;
  color: white;
  border-left: 5px !important;
  border-left-color: white !important;
}

/* Artworks Grid View */
.header {
  color: white;
  text-align: center;
  padding: 32px;
}

.row_gallery {
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE 10 */
  flex-wrap: wrap;
  padding: 2.5px;
}

/* Create two equal columns that sits next to each other */
.column_gallery {
  -ms-flex: 50%;
  /* IE 10 */
  flex: 50%;
  padding: 2.5px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: white;
  cursor: pointer;
  font-size: 18px;
}

.btn:hover {
  background-color: red;
  color: white;
}

.btn.active {
  background-color: black;
  color: white;
}

* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: red;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.contact_container {
  height: 100vh;
  /* background-color: #333; */
  color: white;
  padding: 10px;
}

.contact_img {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

  .column,
  input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

  .prev,
  .next,
  .text {
    font-size: 11px
  }
}

@media only screen and (min-width : 1024px) and (max-width : 1224px) {
  body {
    background-color: palegreen;
  }

  #navbar a {
    font-size: 2vw;
  }

  #topnav a {
    font-size: 3vw;
  }

  .jumbotron_container {
    height: 100vh;
  }

  .flex-container {
    height: 75vh;
  }

  .center_text {
    font-size: 7vw;
  }

  .about_container {
    height: 100vh;
  }

  .flex_container2 {
    display: flex;
    flex-direction: column;
  }

  .flex_img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .flex_text {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .about_img {
    padding: 5vw 1vw 0vw 1vw;
  }

  .about_text {
    padding: 10px;
    font-size: 1.5em;
    color: white;
  }

}


@media only screen and (min-width : 640px) and (max-width : 1024px) {
  body {
    background-color: coral;
  }

  #navbar {
    padding: 27px;
  }

  #navbar a {
    font-size: 2vw;
  }

  #topnav a {
    font-size: 3vw;
  }

  .jumbotron_container {
    height: 100vh;
  }

  .flex-container {
    height: 75vh;
  }

  .center_text {
    font-size: 7vw;
  }

  .about_container {
    height: 100vh;
  }

  .flex_container2 {
    display: flex;
    flex-direction: column;
  }

  .flex_img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .flex_text {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .about_img {
    padding: 5vw 1vw 0vw 1vw;
  }

  .about_text {
    padding: 10px;
    font-size: 1.5em;
    color: white;
  }

  .contact_container {
    max-height: 100vh;
  }

  .contact_img {
    width: 100%;
  }

}


@media only screen and (min-width : 480px) and (max-width: 640px) {
  body {
    background-color: lightblue;
  }

  #navbar {
    padding: 23px;
  }

  #navbar a {
    font-size: 2vw;
  }

  #topnav a {
    font-size: 3vw;
  }

  .jumbotron_container {
    height: 100vh;
  }

  .flex-container {
    height: 75vh;
  }

  .center_text {
    font-size: 7vw;
  }

  .about_container {
    height: 1000px;
    display: grid;
    grid-template-columns: 1fr;

  }

  .card {
    grid-column: 1;
    margin-top: 50px;
  }

  .information {
    grid-column: 1/2;
  }

  .mobile-padding {
    padding: 25px;
  }

  .about_text {
    padding: 0px;
    font-size: 1.4em;
    color: white;
  }

  .contact_container {
    max-height: 100vh;
  }

  .contact_img {
    width: 100%;
  }

}

@media only screen and (max-width : 480px) {
  body {
    background-color: lightpink;
  }

  #navbar {
    padding: 24px;
  }

  #navbar a {
    font-size: 4vw;
  }

  #topnav {
    padding: 75px 25px 25px 25px;
  }

  #topnav a {
    font-size: 4vw;
  }

  .jumbotron_container {
    height: 100vh;
  }

  .flex-container {
    height: 75vh;
  }

  .center_text {
    font-size: 15vw;
  }

  .about_container {
    height: 1250px;
    display: grid;
    grid-template-columns: 1fr;

  }

  .card {
    grid-column: 1;
    margin-top: 50px;
  }

  .information {
    grid-column: 1/2;
  }

  .mobile-padding {
    padding: 25px;
  }

  .about_text {
    padding: 0px;
    font-size: 1.4em;
    color: white;
  }

  .contact_container {
    max-height: 100vh;
  }

  .contact_img {
    width: 100%;
  }

}

:root {
  --primary-color: #302AE6;
  --secondary-color: red;
  --title-color: red;
  --font-color: #000;
  --fa-color: red;
  --bg-color: white;
  --heading-color: #292922;
  --card-color: white;
}

[data-theme="dark"] {
  --primary-color: #9A97F3;
  --secondary-color: white;
  --title-color: red;
  --font-color: white;
  --fa-color: red;
  --bg-color: #333;
  --heading-color: #818cab;
  --card-color: #000;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);

  /*other styles*/
}

.title {
  color: var(--title-color);
}

h2 {
  color: var(--secondary-color);
}

.fa {
  color: var(--fa-color);
}

a {
  color: var(--primary-color);

  /*other styles*/
}

p {
  color: var(--font-color);
}

.card {
  background-color: var(--card-color);
}

label {
  color: var(--secondary-color);
}

.about_text {
  color: var(--font-color);
}

.information {
  border-left: 5px solid var(--font-color);
}

/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

em {
  margin-left: 10px;
  font-size: 1rem;
  font-style: normal;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #000;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked+.slider {
  background-color: red;
}

input:checked+.slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}